<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주소 자동완성 prototyping</title>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.autocomplete.js"></script>
    <link rel="stylesheet" href="/css/jquery.autocomplete.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<body>


<div class="container margin-top">
    <form class="jumbotron" action="/api/address/" method="get">
        <h1 class="title">주소 자동 완성</h1>
        <div class="input-group">
            <input class="form-control" type="text" name="search" id="autocomplete" placeholder="경기도"/>
            <span class="input-group-btn">
            <button class="btn btn-default">Json Data 받기</button>
        </span>
        </div>
    </form>
</div>


<script type="text/javascript">
    $('#autocomplete').autocomplete({
        serviceUrl: '/api/address',
        onSelect: function (suggestion) {
            location.href="/api/address?query=" + suggestion.text;
        }
    });
</script>
</body>
</html>